.table {
  border: 0.0625rem solid black;
  max-width: 100%;
  tr {
    th {
      border: 0.0625rem solid black;
      padding: 0.4375rem;
    }
    td {
      border: 0.0625rem solid black;
      padding: 0.4375rem;
    }
  }
}
