.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Andale Mono, monospace';
}

.listViolators {
  padding-bottom: 7px;
  font-size: 15px;
}

.firstName {
  color: rgb(2, 20, 59);
  font-weight: bold;
}